// @import "base/variables";

//Foundation
// @import "base/foundation-settings";
// @import "foundation";
// @include foundation-everything;
@import "components/Landing";
@import "components/Quiz";
@import "components/Result";
// @import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:900");
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

// @import 'components/progressBar';
// Components
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #efefef;
  // margin: 0;
  // padding: 0;
  // background: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  // color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
}

.top-bar {
  box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
  background-color: #00796b;
  color: white;
  width: auto;
  ul {
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 20px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.menu li a {
  color: white;
}
.active {
  font-weight: bold;
}

.row {
  padding-top: 10px;
}

.mainContainer {
  position: relative;
  z-index: 1;
  margin: 20px;
}

.card {
  margin: 20px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.card-divider {
  padding: 15px;
  // NOT IDEAL BUT WHO CARES
  > :nth-child(1) {
    margin-bottom: 15px;
  }
}

.card-section {
  background: white;
  padding: 15px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}
