.container {
  padding: 20px;
  max-width: 880px;
  margin: auto;
}

.hero {
  width: 100%;
  postion: relative;
}


.hero > .title {
  position: relative;

}

.hero > .button {
  position: relative;
  margin: auto;
  position: relative;
  max-width: 120px;
  height: 38px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: yellow;
}

.button {
  display: block !important;
}
